# Dependências
node_modules/

# Builds e artefatos de compilação
dist/
build/

# Variáveis de ambiente e segredos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configurações de editores/IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos temporários e de sistema
.DS_Store
Thumbs.db
